{% extends "main_base.html" %}

{% block title %}Home - Robotic Psychotic{% endblock %}

{% block extra_head %}
{{ super() }}
<style>
    .home-content {
        text-align: center;
        padding: 20px;
    }
    .home-title {
        font-size: 33px;
        color: rgb(81, 43, 141);
        margin-top: 20px;
    }
    .home-image {
        width: 50%; /* Reduce the image size to 25% */
        height: auto; /* Maintain aspect ratio */
    }
</style>
{% endblock %}

{% block content %}
<div class="home-content">
    <img src="{{ url_for('static', filename='images/horsy.jpg') }}" alt="Robot Graphic" class="home-image">
    <h2 class="home-title">We Make Evil Robots</h2>
</div>
{% endblock %}